/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration-line: none;
}

img {
  display: block;
}

.header,
.hero,
.information,
.quote,
.call-to-action,
.footer {
  padding-inline: 14vw;
}

.header,
.hero,
.footer {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
}

.header {
  padding-block: 2vh;
  align-items: baseline;
}

.hero .main,
.header .logo {
  color: #f9faf8;
  font-weight: 900;
}

.hero .main {
  font-size: 48px;
}

.header .logo {
  font-size: 24px;
}

.header .links {
  display: flex;
  gap: 24px;
}

.hero .secondary,
.header .link,
.footer {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  padding-block: 12vh;
  gap: 1vw;
}

.hero-text {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 10px;
}

button,
.call-to-action {
  background-color: #3882f6;
  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

button {
  padding-inline: 32px;
  padding-block: 8px;
}

.hero .main,
.hero .secondary {
  width: 400px;
}

.placeholder {
  width: 500px;
  height: 250px;
  background-color: #6e747c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  padding-top: 6vh;
  padding-bottom: 12vh;
}

.information-header {
  padding-bottom: 6vh;

  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.information-images {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

.information-image {
  border: 4px solid #3882f6;
  border-radius: 16px;
  aspect-ratio: 180 / 180;
}

.information-text {
  width: 180px;
  padding: 8px;
  font-size: 18px;
  color: #444;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300; /* light */
  font-style: italic;
  color: #1f2937;
}
